/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Typography
  ========================================
*/
h1 {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

/*
  ==================================
  Header
  ==================================
*/
header {
  background-color: white;
  border-bottom: 1px solid black;
  margin: 0;
}
header .navbar-collapse {
  float: right;
}
header .nav-link {
  float: right;
}
header #setting {
  margin: 0;
  text-align: right;
}

/*
  ==================================
  Footer
  ==================================
*/
footer {
  background-color: black;
  padding-bottom: 40px;
  padding-top: 41px;
  width: 100%;
}
footer a,
footer a:hover {
  color: white;
}
footer #footer-logo img {
  padding-right: 0;
  display: block;
  float: right;
}

.primary-footer small {
  float: right;
  color: white;
}

/*
  ==================================
  Jumbotron
  ==================================
*/
.hero {
  margin: 0 0 50px 0;
  width: 100%;
  height: 750px;
  background-image: url("/img/home_hero_01_lg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*
  ========================================
  Bussiness
  ========================================
*/
#bussiness {
  position: relative;
  margin-bottom: 50px;
}
#bussiness .col-md-12 {
  margin-top: 40px;
}

.teaser div {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.teaser img,
.banner img {
  border-radius: 5px;
  display: block;
  width: 100%;
}

/*
  ========================================
  News
  ========================================
*/
#news {
  margin-bottom: 50px;
}
#news .col-md-12 {
  margin-top: 40px;
}
#news .col-lg-10 {
  padding-left: 30px;
}
#news .col-lg-7 {
  padding-left: 30px;
}
#news img {
  float: right;
  border-radius: 5px;
  width: 100%;
}
#news .tag {
  margin-top: 5px;
  color: red;
  border: solid 1px red;
  font-size: 15px;
}

.list-event li {
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.list-event li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  ========================================
  Button
  ========================================
*/
#btn-more {
  display: block;
  margin: 50px auto;
  padding-top: 1.5%;
  width: 50%;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#btn-more span {
  background-color: white;
  color: red;
  font-size: 15px;
  margin-right: 10px;
  padding: 1px 3px;
  border-radius: 2px;
}

/*
  ==================================
  Media
  ==================================
*/
#media {
  margin-bottom: 100px;
}
#media div {
  padding-top: 10px;
  padding-bottom: 10px;
}
#media .row {
  border-bottom: solid 1px black;
}
#media .col-md-8 {
  text-align: justify;
}

#btn-red {
  margin-top: 25px;
  width: 180px;
  color: white;
  font-size: 10px;
  float: right;
  border-radius: 5px;
}
#btn-red span {
  background-color: white;
  padding: 1px 3px;
  margin-right: 4px;
  color: red;
  font-size: 8px;
  border-radius: 2px;
}

/*
  ==================================
  Facility
  ==================================
*/
#facility {
  margin: 0 auto;
  width: 100%;
}
#facility h2 {
  margin: 100px auto 50px auto;
}

#arawa img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.thumbnail {
  position: relative;
  margin-top: 5px;
}
.thumbnail ul {
  margin-bottom: 0;
}
.thumbnail li {
  display: inline-block;
  width: 20%;
}
.thumbnail li div {
  position: absolute;
  top: 50px;
  color: white;
  margin: 0 auto;
}
.thumbnail li img {
  display: block;
  width: 100%;
}

#btn {
  display: block;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  letter-spacing: 5px;
}

/*
  ==================================
  Banner
  ==================================
*/
#banderol {
  margin-top: 50px;
  margin-bottom: 50px;
}
#banderol .col-md-12 img {
  width: 100%;
}
