html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
  text-align: right;
}
header .navbar-collapse,
header .navbar-default {
  background: none;
  border-bottom: 0;
}
header .navbar-collapse {
  float: right;
}
header select {
  margin-top: 15px;
}

.setting li a {
  text-decoration: underline;
}

footer {
  background-color: #000;
  padding-bottom: 40px;
  padding-top: 41px;
  width: 100%;
}
footer a,
footer a:hover {
  color: #fff;
}
footer img {
  display: block;
  float: right;
  padding-right: 0;
}

.primary-footer small {
  color: #fff;
  float: right;
}

.btn-more {
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 60px;
  margin: 50px auto;
  padding-top: 1.5%;
  text-align: center;
  width: 50%;
}
.btn-more span {
  background-color: #fff;
  border-radius: 2px;
  color: #f00;
  font-size: 15px;
  margin-right: 10px;
  padding: 1px 3px;
}
.btn-more:hover {
  text-decoration: none;
}

.thumbnails-wth-btn li {
  margin-right: 15px;
}
.thumbnails-wth-btn li:first-child,
.thumbnails-wth-btn li:last-child {
  cursor: pointer;
  padding-bottom: 8%;
  top: 50%;
  width: 5%;
}
.thumbnails-wth-btn li:first-child {
  margin-right: 5px;
}
.thumbnails-wth-btn li:last-child {
  margin-left: 5px;
}

.home-hero {
  background-color: #000;
}
.home-hero img {
  display: block;
  margin: 0 auto 34px;
  width: 85%;
}

#order {
  background-image: url("/img/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.row.search-box {
  background-color: #ededed;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  margin: 24px auto;
  width: 90%;
}
.row.search-box h4 {
  text-align: left;
}
.row.search-box .col-lg-6 {
  border-top: 1px solid #000;
}
.row.search-box .col-lg-6:first-child {
  border-right: 1px solid #000;
}
.row.search-box .col-lg-5 {
  border-right: 1px solid #000;
}
.row.search-box .col-lg-4 {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
.row.search-box .col-lg-4:last-child {
  border-right: 0;
}
.row.search-box .col-lg-2 {
  padding: 0 !important;
}
.row.search-box .col-lg-2 button {
  width: 100%;
  height: 79px;
}
.row.search-box .glyphicon {
  float: right;
}

.call-for-action {
  display: block;
  margin: 25px auto 50px;
  width: 70%;
  height: 25%;
}
.call-for-action img {
  display: block;
  width: 100%;
}
.call-for-action:hover {
  opacity: .7;
}

.price {
  font-size: 40px;
  color: #f00;
}

.red-underline {
  color: #f00;
  text-decoration: underline;
}

#map img {
  display: block;
  width: 100%;
}

#bannerarea {
  background-image: url("/img/bannerarea/bannerarea.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#bannerarea h2 {
  margin-top: 0;
  padding-top: 25px;
}
#bannerarea .overlay {
  background-color: #000;
  bottom: 0;
  height: 0;
  left: 0;
  opacity: .6;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: .5s ease;
  width: 100%;
}
#bannerarea .text {
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#bannerarea .thumbnails {
  cursor: pointer;
}
#bannerarea .thumbnails li {
  position: relative;
}
#bannerarea .thumbnails li:hover .overlay {
  height: 30%;
}
#bannerarea .memo {
  border-top: solid 10px green;
}
#bannerarea .nishiizu {
  border-top: solid 10px #551A8B;
}
#bannerarea .seafood {
  border-top: solid 10px orange;
}
#bannerarea .free-bus {
  border-top: solid 10px pink;
}

.dots {
  cursor: pointer;
  margin-left: 45%;
}
.dots li {
  background: #000;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  opacity: .6;
  width: 10px;
}

li.active {
  opacity: 1;
}

.directions.thumbnails {
  cursor: pointer;
  margin: 25px auto 10px;
  width: 80%;
}
.directions.thumbnails li {
  background-color: #d3d3d3;
  font-size: 13px;
  padding: 10px;
  width: 16%;
}
.directions.thumbnails li:first-child {
  border-radius: 4px 0 0 4px;
}
.directions.thumbnails li:last-child {
  border-radius: 0 4px 4px 0;
}

.onsen-facility {
  margin-bottom: 10px;
}
.onsen-facility .faci-description {
  background-image: url("/img/facility/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 3px #551A8B;
}
.onsen-facility .faci-description h4 {
  background-color: #551A8B;
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  padding: 10px 30px;
  text-align: left;
}
.onsen-facility .faci-description .faci-label {
  margin: 5% 0;
  padding-left: 10%;
}
.onsen-facility .faci-description p:first-of-type {
  font-size: 30px;
  margin-bottom: 30px;
  padding-left: 10%;
}
.onsen-facility .faci-description p:last-of-type {
  margin-left: 15px;
}
.onsen-facility .faci-img img {
  display: block;
  position: relative;
  width: 100%;
}
.onsen-facility .faci-img .budge {
  display: block;
  left: 80%;
  position: absolute;
  top: 5%;
}

.faci-description ul {
  cursor: pointer;
  width: 100%;
}
.faci-description ul li {
  display: inline-block;
  float: left;
  margin-right: 5px;
  opacity: 0.6;
  width: 24%;
}
.faci-description ul li img {
  display: block;
  padding-left: 0;
  width: 100%;
}
.faci-description ul li:hover {
  opacity: 1;
}
.faci-description ul li:last-child {
  margin-right: 0;
}

.small {
  margin: 0 auto 110px !important;
  width: 80%;
}
.small p {
  font-size: 20px !important;
}

.feature-btn .btn-more {
  margin-bottom: 20px;
  padding-bottom: 45px;
  width: 80%;
}
.feature-btn:hover {
  text-decoration: none;
}

.feature-btn-sm {
  display: block;
  margin: 0 auto;
  width: 85%;
}
.feature-btn-sm:hover {
  opacity: .7;
}

#feature {
  margin: 0 auto;
  width: 80%;
}
#feature .col-lg-6 {
  padding-top: 30px;
}
#feature img {
  cursor: pointer;
  display: block;
  width: 100%;
}
#feature .furo-zuki img {
  position: relative;
  z-index: 1;
}
#feature .furo-zuki span {
  display: block;
  margin: auto;
  position: absolute;
  width: 85%;
  z-index: 2;
}

#info {
  background-image: url("/img/info.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#info h2 {
  padding-top: 25px;
}
#info ul {
  padding-bottom: 25px;
}
#info .info-news {
  background-color: #fff;
  border: solid 3px #f00;
  padding: 10px;
  text-align: left;
}

.hero {
  background-image: url("/img/home_hero_01_lg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  margin: 0 0 50px;
  width: 100%;
}

#bussiness {
  margin-bottom: 50px;
}

.teaser {
  position: relative;
  text-align: center;
}
.teaser h4 {
  color: #fff;
  position: absolute;
  top: 50%;
  width: 100%;
}

.teaser img,
.banner img {
  border-radius: 5px;
  display: block;
  width: 100%;
}

#news {
  margin-bottom: 50px;
}
#news .row {
  margin-bottom: 50px;
}
#news .col-lg-10,
#news .col-lg-7 {
  padding-left: 30px;
}
#news img {
  border-radius: 5px;
  float: right;
  width: 100%;
}

.tag {
  border: solid 1px #f00;
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
  width: 70%;
}

.list-event li {
  border-bottom: 1px solid #000;
  padding: 15px 0;
}
.list-event li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#media {
  margin-bottom: 100px;
}
#media div {
  padding-bottom: 10px;
  padding-top: 10px;
}
#media .row {
  border-bottom: solid 1px #000;
}
#media .col-md-8 {
  text-align: justify;
}

.btn-red {
  border-radius: 5px;
  color: #fff;
  float: right;
  font-size: 10px;
  margin-top: 25px;
  width: 180px;
}
.btn-red span {
  background-color: #fff;
  border-radius: 2px;
  color: #f00;
  font-size: 8px;
  margin-right: 4px;
  padding: 1px 3px;
}

#facility {
  padding: 0;
}
#facility h2 {
  margin: 50px auto;
}

#arawa img {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
}

.thumbnails {
  margin-top: 5px;
  text-align: center;
}
.thumbnails ul {
  margin-bottom: 0;
}
.thumbnails li {
  display: inline-block;
  position: relative;
  width: 20%;
}
.thumbnails li h6 {
  color: #fff;
  position: absolute;
  top: 70px;
  width: 100%;
}
.thumbnails li img {
  display: block;
  width: 100%;
}

.btn-facility {
  background-color: #000;
  border-radius: 0 0 10px 10px;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 40px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  width: 100%;
}

#banderol {
  margin-bottom: 50px;
  margin-top: 50px;
}
#banderol .col-md-12 img {
  width: 100%;
}

@media (max-width: 1200px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  .hero {
    background-image: url("/img/mobile-header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  #bussiness {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  #bussiness .teaser img {
    margin-top: 25px;
  }

  #news .row {
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
  }
  #news .row .col-lg-3 {
    order: 1;
  }
  #news .row .col-lg-2 {
    order: 2;
  }
  #news .row .col-lg-7 {
    order: 3;
  }
  #news .row .col-lg-10 {
    order: 4;
  }

  #banderol {
    margin-top: 90px;
  }
  #banderol .banner img {
    margin-bottom: 25px;
  }
  #banderol .banner img:last-of-type {
    margin-bottom: 40px;
  }

  .btn-more {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 50px auto;
    padding-top: 1.5%;
    text-align: center;
    width: 50%;
  }
  .btn-more span {
    background-color: #fff;
    border-radius: 2px;
    color: #f00;
    font-size: 15px;
    margin-right: 10px;
    padding: 1px 3px;
  }

  .onsen-facility {
    display: flex;
    flex-flow: column;
  }
  .onsen-facility .col-lg-7 {
    order: 1;
  }
  .onsen-facility .col-lg-5 {
    order: 2;
  }

  .onsen-facility.small {
    margin-bottom: 10px !important;
    width: 100%;
  }
}
