<footer class="container-fluid primary-footer">
  <div class=container>
    <div class="row">
      <div class="col-lg-9 col-md-12 row">
        <ul class="col-lg-3 col-md-4">
          <li><a href="#">企業情報</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">免責事項</a></li>
          <li><a href="#">スタッフ募集</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
        <ul class="col-lg-3 col-md-4">
          <li><a href="#">予約確認・変更・キャンセル</a></li>
          <li><a href="#">ベストレート</a></li>
          <li><a href="#">直行往復バス</a></li>
          <li><a href="#">宴会プラン</a></li>
        </ul>
        <ul class="col-lg-3 col-md-4">
          <li><a href="#">いいふろ会員</a></li>
          <li><a href="#">想い出見本市</a></li>
          <li><a href="#">公式通販ショップ</a></li>
        </ul>
      </div>
      <div id="footer-logo" class="col-lg-3 col-md-12">
        <img src="/img/footer-logo.png" alt="footer logo">
      </div>
    </div>
    <small>Copyright&copy;Oedo-Onsen-Monogatari Co.,Ltd.</small>
  </div>
</footer>
