<header class="navbar navbar-fixed-top">
  <nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <nav class="navbar-toggler-icon"></nav>
  </button>
  <a id="header-logo" class="navbar-brand" href="/">
    <img src="/img/header-logo.png">
  </a>

  <div class="collapse navbar-collapse d-flex flex-column" id="navbarSupportedContent">
      <ul id="setting" class="navbar-nav p-2">
        <li class="nav-item">
          <select name="lang">
            <option value="en" selected>English</option>
            <option value="jp">Japan</option>
            <option value="vn">Vietnam</option>
          </select>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">お知らせ</a></li>
      </ul>
      <ul class="navbar-nav p-2">
        <li class="nav-item">
          <a class="nav-link" href="#">施設を探す</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">キャンペーン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">大江戸温泉物語の想い</a>
        </li>
        <li>
          <a class="nav-link" href="#">ご予約</a>
        </li>
      </ul>
</nav>
</header>
