// ==================================
// Jumbotron
// ==================================

.home-hero {
  background-color: $black;

  img {
    display: block;
    margin: 0 auto 34px;
    width: 85%;
  }
}

// ==================================
// Order
// ==================================
.order {
  background-image: url('/img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.row.search-box {
  background-color: #ededed;
  border: $border-black;
  border-radius: 4px;
  cursor: pointer;
  margin: 24px auto;
  width: 90%;

  h4 {
    text-align: left;
  }

  .col-md-6 {
    border-top: $border-black;

    &:first-child {
      border-right: $border-black;
    }
  }

  .col-md-5 {
    border-right: $border-black;
  }

  .col-md-4 {
    border-right: $border-black;
    border-top: $border-black;

    &:last-child {
      border-right: 0;
    }
  }

  .col-md-2 {
    padding: 0 !important;
    button {
      height: 79px;
      width: 100%;
    }
  }

  .glyphicon {
    float: right;
  }
}

.call-for-action {
  display: block;
  height: 25%;
  margin: 25px auto 50px;
  width: 70%;

  img {
    display: block;
    width: 100%;
  }

  &:hover {
    opacity: .7;
  }
}

.price {
  color: $red;
  font-size: 40px;
}

.red-underline {
  color: $red;
  text-decoration: underline;
}

// ==================================
// Map
// ==================================

.map {
  img {
    display: block;
    width: 100%;
  }
}

// ==================================
// Banner Area
// ==================================

.bannerarea {
  background-image: url('/img/bannerarea/bannerarea.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  h2 {
    margin-top: 0;
    padding-top: 25px;
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    height: 0;
    left: 0;
    opacity: .6;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: .5s ease;
    width: 100%;
  }

  .text {
    color: $white;
    font-size: 18px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .thumbnails {
    border-radius: 4px;
    cursor: pointer;

    li {
      position: relative;
    }

    &:hover .overlay {
      height: 30%;
    }
  }

  .memo {
    border-top: solid 10px #55866b;
  }

  .nishiizu {
    border-top: solid 10px $purple;
  }

  .seafood {
    border-top: solid 10px #e8922c;
  }

  .free-bus {
    border-top: solid 10px #d0121b;
  }
}

.dots {
  cursor: pointer;
  margin-left: 45%;

  li {
    background: $black;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    opacity: .6;
    width: 10px;
  }
}

li.active {
  opacity: 1;
}

// ==================================
// Facilities
// ==================================

.directions.thumbnails {
  cursor: pointer;
  margin: 25px auto 10px;
  width: 80%;

  li {
    background-color: #d3d3d3;
    font-size: 13px;
    padding: 10px;
    width: 16%;
  }

  li:first-child {
    border-radius: 4px 0 0 4px;
  }

  li:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.onsen-facility {
  margin-bottom: 10px;

  .faci-description {

    background-image: url('/img/facility/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 3px $purple;

    h4 {
      background-color: $purple;
      color: $white;
      font-size: 20px;
      margin-top: 0;
      padding: 10px 30px;
      text-align: left;
    }

    .faci-label {
      margin: 5% 0;
      padding-left: 10%;
    }

    p:first-of-type {
      font-size: 30px;
      margin-bottom: 30px;
      padding-left: 10%;
    }

    p:last-of-type {
      margin-left: 15px;
    }
  }

  .faci-img {

    img {
      display: block;
      position: relative;
      width: 100%;
    }

    .budge {
      display: block;
      left: 80%;
      position: absolute;
      top: 5%;
    }
  }
}

.faci-description ul {
  cursor: pointer;
  width: 100%;

  li {
    display: inline-block;
    float: left;
    margin-right: 1.1%;
    opacity: .6;
    width: 24%;
  }

  &:hover .text {
    display: block;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.faci-description ul li {
  img {
    display: block;
    padding-left: 0;
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.faci-description .text {
  display: none;
}

.small {
  margin: 0 auto 110px !important;
  width: 80%;

  p {
    font-size: 15px !important;
  }

  ul li {
    display: inline-block;
    float: left;
    margin-right: 1.4%;
    opacity: .6;
    width: 23.6%;
  }
}

// ========================================
// Feature
// ========================================

.feature-btn {

  .btn-more {
    margin-bottom: 20px;
    padding-bottom: 45px;
    width: 80%;
  }

  &:hover {
    text-decoration: none;
  }
}

.feature-btn-sm {
  display: block;
  margin: 0 auto;
  width: 85%;

  &:hover {
    opacity: .7;
  }
}

.feature {
  margin: 0 auto;
  width: 80%;

  .col-md-6 {
    padding-top: 30px;
  }

  img {
    cursor: pointer;
    display: block;
    width: 100%;
  }

  .furo-zuki {

    img {
      position: relative;
      z-index: 1;
    }

    span {
      display: block;
      margin: auto;
      position: absolute;
      width: 85%;
      z-index: 2;
    }
  }
}

// ========================================
// Info
// ========================================

.info {
  background-image: url('/img/info.png');
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    padding-top: 25px;
  }

  ul {
    padding-bottom: 25px;
  }

  .info-news {
    background-color: $white;
    border: solid 3px $red;
    padding: 10px;
    text-align: left;
  }
}
