// ========================================
// No gutter
// ========================================

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.row-eq-height {
  height: 30% !important;

  .col-md-5 {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: 97px !important;
    margin-right: 87px !important;
    width: 1004px !important;
  }
}
