@media (max-width:1000px) {
  // ================================
  //  Modified Bootstrap Grid
  // ================================

  h2 {
    font-size: 27px !important;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .hero {
    background-image: url('/img/mobile-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  .bussiness {
    margin-bottom: 40px;
    margin-top: 40px;

    .teaser img {
      margin-top: 25px;
    }
  }

  .media .btn-red {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .news.row {
    margin-bottom: 40px;
   }

  .col-md-2 {
    padding: 0 !important;

    button {
      height: 79px;
      text-align: center;
      width: 100%;
    }
  }

  .banderol {
    margin-top: 90px;

    .banner img {
      margin-bottom: 25px;
    }

    .banner img:last-of-type {
      margin-bottom: 40px;
    }
  }

  .btn-more {
    padding-top: 15px;
  }

  .call-for-action {
    width: 100%;
  }

  .row.search-box {
    border: 0;

    h3 {
      font-size: 14px;
    }

    .col-md-2 button {
      border-radius: 4px;
    }
  }

  .order {

    h3 {
      font-size: 14px;
    }

    .price {
      font-size: 17px;
    }
  }

  .search-btn {
    h4 {
      font-size: 14px;
      text-align: center !important;
    }

    .glyphicon {
      float: none !important;
      margin-left: 6px;
    }
  }

  .btn-wrap {
    padding-left: 30px;
    padding-right: 30px;

    .btn-hidden {
      margin-bottom: 21px;
      margin-top: 26px;
      width: 100%;
    }
  }

  .facilities .container {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .facilities {
    margin-bottom: 40px;
  }

  .onsen-facility {
    height: 442px;
    margin-bottom: 5px;

    h4 {
      font-size: 10px !important;
      margin: 0;
    }

    .faci-label {
      height: 15px;
      margin: 17px 0 !important;
    }

    .faci-img {
      height: 183px;

      & > img {
        height: 183px;
        width: 100%;
      }
    }

    .faci-description {
      height: 263px;

      p {
        font-size: 21px;
      }
    }
  }

  .faci-description ul {
    bottom: 17px;

    img {
      height: 88px;
    }
  }

  .onsen-facility.row {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .bannerarea {

    .text {
      font-size: 16px;
    }

    .banner-item:first-of-type {
      margin-left: 23%;
    }

    .thumbnails {
      cursor: pointer;

      img {
        height: 360px;
        width: 470px;
      }
    }
  }

  .onsen-falicility {
    margin: 0;
    width: 100%;
  }

  .feature {

    .col-md-5 {
      margin-top: 25px;
    }

    .col-md-5.col-xs-6 {
      margin-top: 35px;
    }
  }

  .info {

    h2 {
      margin-top: 41px;
    }

    .info-news:first-of-type {
      margin-bottom: 40px;
      margin-left: 13%;
    }
  }

  .tag {
    font-size: 7px;
    margin-left: 7px;
  }

  footer {
    a {
      font-size: 12px;
    }
  }

  .facilities .row,
  .news .row {
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;

    .col-md-3,
    .col-md-7 {
      order: 1;
    }

    .col-md-2,
    .col-md-5 {
      order: 2;
    }
  }

  .news .row {
    .col-md-7,
    .col-md-10 {
      order: 3;
    }
  }
}
