@media (max-width:1200px) {
  // ================================
  //  Modified Bootstrap Grid
  // ================================
  .hero {
    background-image: url('/img/mobile-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  .bussiness {
    margin-bottom: 40px;
    margin-top: 40px;

    .teaser img {
      margin-top: 25px;
    }
   }

  .news {
    .row {
      margin-bottom: 40px;
    }
   }

  .col-md-2 {
    padding: 0 !important;

    button {
      height: 79px;
      text-align: center;
      width: 100%;
    }
  }

  .banderol {
    margin-top: 90px;

    .banner img {
      margin-bottom: 25px;
    }

    .banner img:last-of-type {
      margin-bottom: 40px;
    }
  }

  .btn-more {
    border-radius: 5px;
    color: $white;
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 50px auto;
    padding-top: 1.5%;
    text-align: center;
    width: 50%;

    span {
      background-color: $white;
      border-radius: 2px;
      color: $red;
      font-size: 15px;
      margin-right: 10px;
      padding: 1px 3px;
    }
  }

  .thumbnails-wth-btn {

    li:first-child,
    li:last-child {
      display: none;
    }
  }

  .feature-btn img {
    margin-top: 80px;
    margin-bottom: 25px;
  }

  .directions {
    display: none;
  }

  .map img {
    display: none;
  }

  .onsen-facility.small {
    margin-bottom: 10px !important;
    width: 100%;
  }
}
