@media (max-width:992px) {
  // ================================
  //  Modified Bootstrap Grid
  // ================================

  .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .hero {
    background-image: url('/img/mobile-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  .bussiness {
    margin-bottom: 40px;
    margin-top: 40px;

    .teaser img {
      margin-top: 25px;
    }
   }

  .news.row {
    margin-bottom: 40px;
   }

  .col-md-2 {
    padding: 0 !important;

    button {
      height: 79px;
      text-align: center;
      width: 100%;
    }
  }

  .banderol {
    margin-top: 90px;

    .banner img {
      margin-bottom: 25px;
    }

    .banner img:last-of-type {
      margin-bottom: 40px;
    }
  }

  .search-box {
    border: 0;

    h3 {
      font-size: 14px;
    }
  }

  .search-btn {
    h4 {
      font-size: 14px;
      text-align: center !important;
    }

    .glyphicon {
      float: none !important;
      margin-left: 6px;
    }
  }

  .btn-wrap {
    padding-right: 30px;
    padding-left: 30px;

    .btn-hidden {
      width: 100%;
    }
  }

  .facilities .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .facilities {
    margin-bottom: 40px;
  }

  .onsen-facility {
    margin-bottom: 5px;
    height: 442px;
    width: 100%;

    h4 {
      background-color: $purple;
      color: $white;
      font-size: 10px !important;
      margin-top: 0;
      padding: 5px 15px;
      text-align: left;
    }

    .faci-label {
      height: 15px;
    }

    .faci-img {
      height: 183px;

      & > img {
        height: 183px;
        width: 100%;
      }
    }

    .faci-description {
      height: 263px;

      p {
        font-size: 21px;
      }
    }
  }

  .faci-description ul {
    bottom: 17px;

    li img {
      height: 88px;
    }
  }

  .onsen-facility.row {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .bannerarea {

    .text {
      font-size: 16px;
    }

    .banner-item:first-of-type {
      margin-left: 100px;
    }

    .thumbnails {
      cursor: pointer;

      img {
        height: 360px;
        width: 470px;
      }
    }
  }

  .feature a {
    img {
      padding: 0 15px;
    }
  }

  .onsen-falicility {
    width: 100%;
    margin: 0;
  }

  .info .info-news:first-of-type {
    margin-bottom: 20px;
    margin-left: 50px;
  }
}
